<nav class="navbar navbar-default navbar-static-top">
  <div id="navigationBox">
    <a href="/" class="headerLink"><strong>Homepage</strong></a> ●
    <a href="/dataBreakdown" class="headerLink"><strong>Data Deep-Dive</strong></a> ●
    <a href="/compareWordFrequencies" class="headerLink"><strong>Comparing Word Frequencies</strong></a>
  </div>
</nav>
