<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div id="navigationBox">
    <a href="/" class="headerLink"><strong>Homepage</strong></a> |
    <a href="/dataBreakdown" class="headerLink"><strong><u>Data Breakdown</u></strong></a> |
    <a href="/compareWordFrequencies" class="headerLink"><strong>Comparing Word Frequencies</strong></a> |
  </div>
</nav>
