<nav class="navbar navbar-default navbar-static-top">
  <div id="navigationBox">
    <h1>Analyzing 29 Years of Jeopardy Questions</h1>>
  </div>
  <div id="navigationBox">
    <a href="/" class="headerLink">Homepage</a> ●
    <a href="/dataBreakdown" class="headerLink">Data Deep-Dive</a> ●
    <a href="/compareWordFrequencies" class="headerLink">Comparing Word Frequencies</a>
  </div>
</nav>
