/* Christina Aiello, 11/25/2015 */

h1 {
  font-size: 18px;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  text-align: center;
  line-height: 15px;
  margin-bottom: 5px;
  color: #AEB3D1;
  margin-top: 10px;
}

h2 {
  font-size: 15px;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  text-align: center;
  line-height: 15px;
  color: #AEB3D1;
}

h3 {
  font-size: 14px;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  text-align: center;
  line-height: 13px;
  color: #AEB3D1;
}

/* Body text on page */
body {
  background-color: #0F114A;
  color: #ffffff;
  font-size: 12px;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

/* Labels for Word Search bars */
.wordSearchLabel {
  font-size: 15px;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  text-align: center;
}

#wrapper {
  overflow: hidden;
}

/* Div that holds word cloud on index page */
#locationOfWordCloud{
  color: #000000;
}

/* Div that holds two bar graphs on index page */
#locationOfSVGs{
  float:left;
  height: 700px;
}

/* Div that holds two bar graphs on index page */
#locationOfSVGsWordComparison{
  margin: 0 auto;
  width: auto;
  height: 400px;
}

.countWordVis{
  margin: 0 auto;
}

/* All labels on charts */
.labels {
  font-size: 11px;
  font-family: Calibri,sans-serif;
}

/* hover info */
#tooltip {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
}

.smallPadding {
  margin: 5px;
  padding: 5px;
}

/* Div that holds loading message */
#loadingBoxImage{
  width: auto;
  height: 30px;
  display: none;
}

/* Div that holds directions */
#directionsBox{
  width: auto;
  height: 100px;
  display: visible;
  float: center;
}

/* Text at top of main page */
#jeopardyTitle {
  color: #FCC627;
}

#inputDiv{
  width: 500px;
  margin: 0 auto;
}

/* --------- Below is for All Bar Graphs --------- */

.td-center {
  text-align: center;
}

.td-leftpadding {
  padding-left: 50px;
}

.td-rightpadding {
  padding-right 50px;
}

.bar text.value {
  fill: #ffffff;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #000;
  stroke-opacity: 0.2;
}

.y.axis path {
  stroke: black;
}

/* --------- Below is for Calendar View --------- */

.calendarBox {
  width: 650px;
  height: 650px;
  float: center;
}

.calendarBoxWordComparisons1, .calendarBoxWordComparisons2 {
  width: 650px;
  height: auto;
  padding: 10px;
  float: left;
}

.calendars {
  width: 1400px;
  margin: 0 auto;
}

#chart{
  width: 800px;
  margin: 0 auto;
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
}
.year-title {
  font-size: 1.5em;
}

/* color ranges */
.RdYlGn .q0-11{fill:rgb(119, 197, 211)}
.RdYlGn .q1-11{fill:rgb(81, 181, 199)}
.RdYlGn .q2-11{fill:rgb(62, 172, 192)}
.RdYlGn .q3-11{fill:rgb(55, 155, 173)}
.RdYlGn .q4-11{fill:rgb(49, 139, 155)}
.RdYlGn .q5-11{fill:rgb(43, 121, 135)}
.RdYlGn .q6-11{fill:rgb(37, 103, 115)}
.RdYlGn .q7-11{fill:rgb(31, 85, 95)}
.RdYlGn .q8-11{fill:rgb(25, 69, 77)}
.RdYlGn .q9-11{fill:rgb(19, 51, 57)}
.RdYlGn .q10-11{fill:rgb(9, 25, 29)}

/* --------- Below is for Progress Book --------- */
/* Used for the entire encompassing box for the progress book */
.processBookMainBox{
  margin: auto;
  background-color: #AEB3D1;
  width: 910px;
  height: auto;
  padding: 30px;
  color: #000000;
}

/* Used for each entry in the progress book */
.processBookEntry{
  background-color: #ffffff;
  width: 850px;
  height: auto;
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000000;
}

.processBookText{
  font-size: 14px; 
}

.processBookSub {
  width: 500px;
  height: auto;
  font-size: 13px;
  font-weight: bold;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  text-align: center;
  line-height: 13px;
  color: #399DB1;
  padding: 10px;
  margin-bottom: 50px;
}

.processBookH1 {
  color: #0F114A;
  font-size: 22px;
}

.processBookH2 {
  color: #0F114A;
  font-size: 20px;
}

.processBookTitle {
  font-size: 30px;
  color: #399DB1;
  line-height: 29px;
}

.code {
  padding: 15px;
  font-family: Consolas,monaco,monospace;
  color: #32cd32;
  font-size: 14px;
  background-color: #000000;
}